<style>
    body {
        font-family: Arial, sans-serif;
        color: #333; /* Default text color */
        margin: 0;
        padding: 0;
    }

    /* Styling for the header section */
    .header {
        background-color: black;
        color: white;
        padding: 20px;
        text-align: center;
    }

    /* Styling for the bordered content */
    .bordered-content {
        border: 1px solid black;
        padding: 20px;
        margin: 10px;
    }

    h1.blue-text {
        color: blue;
        text-align: center;
    }

    p.blue-text {
        color: blue;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: blue;
    }

    a:hover {
        text-decoration: underline;
    }
/* Navigation bar styles */
.navbar {
    background-color: #7287ee;
    overflow: hidden;
    text-align: center;
    padding: 15px 0; /* Padding for the whole navbar */
}

.navbar a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #ddd;
    color: blue;
</style>